body, div, h1, h2, h3, h4, h5, h5, p, ul, ol, li, dl, dt, dd { 
    margin: 0; 
    padding: 0;
}
ul, ol {
    list-style-type: none;
}
body { 
    font: 14px "Microsoft Yahei",Arial,Helvetica,sans-serif; 
    overflow-x: hidden; 
}
a { 
    color: #515151; 
    text-decoration: none;
}
a:hover { 
    color: #e4392a;
}
.filter {
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}
#fp-nav ul li a span{
    width: 6px;
    height: 6px;
    margin: -6px 0 0 -6px;
    background-color: transparent;
    border: 1px solid #e4392a;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
#fp-nav ul li a.active span{
    width: 6px;
    height: 6px;
    margin: -6px 0 0 -6px;
    background-color: #e4392a;
    border: 1px solid #e4392a;
}
#fp-nav ul li, .fp-slidesNav ul li {
    width: 6px;
    height: 6px;
}
#fp-nav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li a.active span, 
.fp-slidesNav ul li:hover a.active span {
    width: 6px;
    height: 6px;
}
#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
    width: 6px;
    height: 6px;
    margin: -6px 0 0 -6px;
    background-color: #e4392a;
}
.section { 
    position: relative; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.banner{
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.wrapper{
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 1200px;
}
.nav{
    width: 95%;
    position: fixed;
    top: 0;
    left: 2.5%;
    height: 100px;
    z-index: 9;
    min-width: 980px;
}
.nav.black{
    background-color: rgba(255,255,255,0.4);
    width: 100%;
    padding: 0 2.5%;
    left: 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    box-sizing: border-box;
    min-width: 990px;
}
.nav .logo{
    height: 55px;
    width: 316px;
    background-image: url('../images/logo.png');
    display: inline-block;
    float: left;
    margin-top: 24px;
}
.nav.black .logo{
    background-image: url('../images/logo1.png');
}
.nav .dh{
    height: 35px;
    float: left;
    margin-top: 34px;
    margin-left: 35px;
    background-image: url('../images/dh_selected.png');
    background-repeat: no-repeat;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}
.nav.black .dh{
    background-image: url('../images/dh_selected_1.png');
}
.nav .dh>li{
    width: 100px;
    height: 35px;
    float: left;
    text-align: center;
    line-height: 35px;
    position: relative;
    font-size: 16px;
}
.nav .dh>li>a{
    color: #ffffff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: inline-block;
    z-index: 2;
}
.nav.black .dh>li>a{
    color: #333333;
}
.nav.black .dh>li.active>a,
.nav.black .dh>li>a:hover{
    color: #e4392a;
}
.nav .btn-login{
    display: inline-block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    background-color: #e4392a;
    font-size: 14px;
    text-align: center;
    border-radius: 30px;
    color: #ffffff;
    position: absolute;
    top: 36px;
    right: 0;
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
}
.nav.black .btn-login{
    right: 2.5%;
}
.nav .btn-login:hover{
    background-color: #cc3325;
}
.b1-bigfont{
    text-align: center;
    font-size: 55px;
    color: #fdcf00;
    font-weight: 400;
}
.b1-title{
    width: 500px;
    text-align: center;
    color: #ffffff;
    margin: 30px auto 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    opacity: 0.9;
}
.mouse-img{
    display: inline-block;
    width: 29px;
    height: 57px;
    background-image: url('../images/mouse_pic.png');
    position: absolute;
    left: 50%;
    margin-left: -14.5px;
    bottom: 25px;
    text-align: center;
}
.mouse-img img{
    opacity: 0;
    -webkit-animation: mouse 2s infinite;
    animation: mouse 2s infinite;
}
@keyframes mouse{
    0% {
        opacity: 0;
        margin-top: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        margin-top: 40px;
    }
}
@-webkit-keyframes mouse{
    0% {
        opacity: 0;
        margin-top: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        margin-top: 40px;
    }
}
.b2-bt{
    text-align: center;
    color: #333333;
    font-weight: normal;
    font-size: 40px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    opacity: 0;
    -webkit-transform: translate(0,-10px);
    transform: translate(0,-10px);
    margin: 0;
}
.b2-title{
    text-align: center;
    color: #999999;
    margin: 3px 0 50px;
    font-size: 16px;
    -webkit-transition: all 1s;
    transition: all 1s;
    opacity: 0;
    -webkit-transform: translate(0,-10px);
    transform: translate(0,-10px);
}
.b6-ftitle span,
.b5-ftitle span,
.b4-ftitle span,
.b3-ftitle span,
.b2-title span{
    color: #e4392a;
}
.b4-wrapper,
.b2-wrapper{
    display: none;
}
.b2-wrapper{
    max-width: 1200px;
}
.b4-wrapper{
    box-sizing: border-box;
    padding: 0 15px;
    max-width: 1200px;
}
.b2-list{
    float: left;
    width: 25%;
    max-width: 300px;
    text-align: center;
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
}
.b2-list .icon{
    display: inline-block;
    width: 163px;
    height: 163px;
    background-image: url('../images/pic01.png');
    background-repeat: no-repeat;
    margin: 50px auto 40px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
.b2-list .icon:hover{
    background-image: url('../images/pic02.png');
}
.b2-list h2{
    font-weight: normal;
    color: #333333;
    font-size: 18px;
}
.b2-list p{
    text-align: center;
    color: #333333;
    margin: 20px auto;
    font-size: 14px;
    width: 75%;
    line-height: 24px;
}
.b2-list .icon.icon1{
    background-position: 0 0;
}
.b2-list .icon.icon2{
    background-position: -163px 0;
}
.b2-list .icon.icon3{
    background-position: -326px 0;
}
.b2-list .icon.icon4{
    background-position: -489px 0;
}
.b2-list .icon.icon1:hover{
    background-position: 0 0;
}
.b2-list .icon.icon2:hover{
    background-position: -163px 0;
}
.b2-list .icon.icon3:hover{
    background-position: -326px 0;
}
.b2-list .icon.icon4:hover{
    background-position: -489px 0;
}
.b3-bt{
    text-align: center;
    color: #333333;
    font-weight: normal;
    font-size: 40px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    opacity: 0;
    -webkit-transform: translate(0,-10px);
    transform: translate(0,-10px);
}
.b3-ftitle{
    text-align: center;
    color: #999999;
    margin: 3px 0 5px;
    font-size: 16px;
    -webkit-transition: all 1s;
    transition: all 1s;
    opacity: 0;
    -webkit-transform: translate(0,-10px);
    transform: translate(0,-10px);
}
.b3-title{
    text-align: center;
    color: #333333;
    margin: 20px 0 20px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    -webkit-transform: translate(0,-10px);
    transform: translate(0,-10px);
}
.b3-img{
    height: 50%;
    background-image: url('../images/b3_img.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
    -webkit-transition: all 1.2s;
    transition: all 1.2s;
    display: none;
}
.b4-bt{
    text-align: center;
    color: #ffffff;
    font-weight: normal;
    font-size: 40px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    opacity: 0;
    -webkit-transform: translate(0,-10px);
    transform: translate(0,-10px);
    margin: 0;
}
.b4-ftitle{
    text-align: center;
    color: #FFFFFF;
    margin: 10px 0 85px;
    font-size: 16px;
    -webkit-transition: all 1s;
    transition: all 1s;
    opacity: 0;
    -webkit-transform: translate(0,-10px);
    transform: translate(0,-10px);
}
.b4-25{
    width: 25%;
    float: left;
    color: #ffffff;
    height: 280px;
    position: relative;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    cursor: default;
}
.b4-25:hover{
    color: #e4392a;
}
.b4-25:hover .date-box{
    border-color: #e4392a;
}
.b4-25:hover .line .circle{
    background-color: #e4392a;
}
.b4-25 .date-box{
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    width: 40px;
    margin: 15px 0;
}
.b4-25 h3{
    margin: 18px 0 25px;
    font-size: 14px;
}
.b4-25 p{
    margin: 5px 0;
    width: 80%;
}
.b4-25 .line{
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    margin: 70px 0 10px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.b4-25 .line .circle{
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: -5px;
    left: 0;
}
.b5-bt,
.b6-bt{
    text-align: center;
    color: #333333;
    font-weight: normal;
    font-size: 40px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    opacity: 0;
    -webkit-transform: translate(0,-10px);
    transform: translate(0,-10px);
    margin: 0;
}
.b5-ftitle,
.b6-ftitle{
    text-align: center;
    color: #333333;
    margin: 10px 0 30px;
    font-size: 16px;
    -webkit-transition: all 1s;
    transition: all 1s;
    opacity: 0;
    -webkit-transform: translate(0,-10px);
    transform: translate(0,-10px);
}
.b5-list{
    height: 500px;
    display: none;
    max-width: 1200px;
}
.b5-list>li{
    max-width: 300px;
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    margin: 10px 0 25px;
    opacity: 0.85;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
.b5-list>li:hover{
    opacity: 1;
}
.b5-list>li .img{
    max-width: 255px;
    height: 170px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
}
.b5-list>li p{
    white-space: nowrap;
    margin: 15px 0;
}
.b5-list>li .img.img1{
    background-image: url('../images/b5_img1.jpg');
}
.b5-list>li .img.img2{
    background-image: url('../images/b5_img2.jpg');
}
.b5-list>li .img.img3{
    background-image: url('../images/b5_img3.jpg');
}
.b5-list>li .img.img4{
    background-image: url('../images/b5_img4.jpg');
}
.b5-list>li .img.img5{
    background-image: url('../images/b5_img5.jpg');
}
.b5-list>li .img.img6{
    background-image: url('../images/b5_img6.jpg');
}
.b5-list>li .img.img7{
    background-image: url('../images/b5_img7.jpg');
}
.b5-list>li .img.img8{
    background-image: url('../images/b5_img8.jpg');
}
.b6-list{
    text-align: center;
    margin-bottom: 20px;
    display: none;
    max-width: 1200px;
}
.b6-list>li{
    display: inline-block;
    width: 258px;
    height: 120px;
    margin: 12px 12px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
.b6-list>li.icon:hover{
    background-image: url('../images/pic04.png');
}
.b6-list>li.icon{
    background-repeat: no-repeat;
    background-image: url('../images/pic03.png');
    background-size: 400% 300%;
}
.b6-list>li.icon.icon1{
    background-position: 0 0;
}
.b6-list>li.icon.icon2{
    background-position: 33.5% 0;
}
.b6-list>li.icon.icon3{
    background-position: 66.7% 0;
}
.b6-list>li.icon.icon4{
    background-position: 100% 0;
}
.b6-list>li.icon.icon5{
    background-position: 0 -120px;
}
.b6-list>li.icon.icon6{
    background-position: 33.5% -120px;
}
.b6-list>li.icon.icon7{
    background-position: 66.7% -120px;
}
.b6-list>li.icon.icon8{
    background-position: 100% -120px;
}
.b6-list>li.icon.icon9{
    background-position: 0 -240px;
}
.b6-list>li.icon.icon10{
    background-position: 33.5% -240px;
}
.b6-list>li.icon.icon11{
    background-position: 66.7% -240px;
}
.b6-list>li.icon.icon12{
    background-position: 100% -240px;
}
.section.fadeIn .b2-bt,
.section.fadeIn .b2-title,
.section.fadeIn .b2-list,
.section.fadeIn .b3-bt,
.section.fadeIn .b3-ftitle,
.section.fadeIn .b3-title,
.section.fadeIn .b3-img,
.section.fadeIn .b4-bt,
.section.fadeIn .b4-ftitle,
.section.fadeIn .b5-bt,
.section.fadeIn .b5-ftitle,
.section.fadeIn .b6-bt,
.section.fadeIn .b6-ftitle{
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}
.footer{
    display: block;
    background-color: #333333;
    color: #999999;
    min-width: 1140px;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}
.footer.fixed,
.section .footer{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
.footer .title{
    text-align: center;
    padding: 25px 0;
    font-size: 12px;
    font-family: "Microsoft Yahei";
}
.footer .title span{
    margin-left: 30px;
    font-weight: 600;
}

/* 其他页面 */
.header{
    height: 100px;
    position: relative;
    margin: 0 auto;
    background-color: #ffffff;
    min-width: 990px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    z-index: 9;
}
.header .logo{
    height: 55px;
    width: 316px;
    background-image: url('../images/logo1.png');
    display: inline-block;
    float: left;
    margin-top: 24px;
}
.header .dh{
    height: 35px;
    float: left;
    margin-top: 34px;
    margin-left: 35px;
    background-image: url('../images/dh_selected_1.png');
    background-repeat: no-repeat;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}
.header .dh>li{
    width: 100px;
    height: 35px;
    float: left;
    text-align: center;
    line-height: 35px;
    position: relative;
    font-size: 16px;
}
.header .dh>li.active>a{
    color: #e4392a;
}
.header .dh>li>a{
    color: #333333;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: inline-block;
    z-index: 2;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
.header .btn-login{
    display: inline-block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    background-color: #e4392a;
    font-size: 16px;
    text-align: center;
    border-radius: 30px;
    color: #ffffff;
    position: absolute;
    top: 36px;
    right: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.header .btn-login:hover{
    background-color: #cc3325;
}
.wrapper.w1140{
    width: 100%;
    max-width: 1140px;
    margin: 40px auto 80px;
}
.wrapper.w1140 .c-left{
    width: 230px;
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 55px 35px;
}
.wrapper.w1140 .c-left h2{
    margin-bottom: 20px;
    color: #333333;
}
.wrapper.w1140 .c-left a{
    display: block;
    margin: 12px 0;
    font-size: 14px;
}
.wrapper.w1140 .c-left a.active{
    color: #e4392a;
}
.wrapper.w1140 .c-right{
    max-width: 880px;
    margin-left: 260px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 55px 55px 100px;
    min-height: 1000px;
}
.wrapper.w1140 .c-right h2{
    margin-bottom: 20px;
}
.wrapper.w1140 .c-right p{
    margin: 30px 0;
    line-height: 24px;
    font-size: 14px;
    color: #333333;
}
.wrapper.w1140 .c-right p.first{
    margin: 20px 0 30px;
}
/* 运营产品 */
.product-box{
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0 1px;
    margin: 33px 0;
}
.product-box .title{
    font-size: 24px;
    color: #333333;
    margin: 0;
    padding: 15px 40px;
    box-sizing: border-box;
    font-weight: normal;
    border-bottom: 1px solid #e8e8e8;
    cursor: default;
}
.product-box .title .icon{
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url('../images/product_01.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}
.product-box .title span{
    vertical-align: middle;
}
.product-box .list-box{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    padding: 40px 0;
    max-width: 281px;
    min-width: 281px;
}
.product-box .list-box .icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('../images/product_02.png');
    background-repeat: no-repeat;
    margin: 30px 0;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 1;
}
.product-box .list-box h2{
    font-size: 18px;
    color: #333333;
    -webkit-transition: all 0.8s;
}
.product-box .list-box p{
    width: 80%;
    margin: 10px auto;
    color: #333333;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.product-box .list-box:hover .icon{
    opacity: 0.8;
}
.product-box .list-box:hover h2{
    color: #e4392a;
}
.product-box .list-box .icon.icon1{
    background-position: 0 0;
}
.product-box .list-box .icon.icon2{
    background-position: -50px 0;
}
.product-box .list-box .icon.icon3{
    background-position: -100px 0;
}
.product-box .list-box .icon.icon4{
    background-position: -150px 0;
}
.product-box .list-box .icon.icon5{
    background-position: 0 -50px;
}
.product-box .list-box .icon.icon6{
    background-position: -50px -50px;
}
.product-box .list-box .icon.icon7{
    background-position: -100px -50px;
}
.product-box .list-box .icon.icon8{
    background-position: -150px -50px;
}
.product-box .list-box .icon.icon9{
    background-position: 0 -100px;
}
.product-box .list-box .icon.icon10{
    background-position: -50px -100px;
}
.product-box .list-box .icon.icon11{
    background-position: -100px -100px;
}
.product-box .list-box .icon.icon12{
    background-position: -150px -100px;
}
.product-box .list-box .icon.icon13{
    background-position: 0 -150px;
}
.product-box .list-box .icon.icon14{
    background-position: -50px -150px;
}
.product-box .list-box .icon.icon15{
    background-position: -100px -150px;
}
.product-box .list-box .icon.icon16{
    background-position: -150px -150px;
}
.product-box .list-box .icon.icon17{
    background-position: 0 -200px;
}
.product-box .list-box .icon.icon18{
    background-position: -50px -200px;
}
.product-box .list-box .icon.icon19{
    background-position: -100px -200px;
}
.product-box .list-box .icon.icon20{
    background-position: -150px -200px;
}
.product-box .list-box .icon.icon21{
    background-position: 0 -250px;
}
.product-box .list-box .icon.icon22{
    background-position: -50px -250px;
}
/* 新闻中心 */
.news-box{
    display: inline-block;
    margin: 20px 20px;
    width: 336px;
    background-color: #ffffff;
    position: relative;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    vertical-align: top;
}
.news-box>a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.news-box .pic{
    height: 180px;
    background-position: center center;
    background-size: 100% 100%;
    -webkit-transition: background-size 1s, opacity 1.5s;
    transition: background-size 1s, opacity 1.5s;
    opacity: 0;
}
.news-box h2{
    color: #333333;
    font-weight: normal;
    font-size: 18px;
    position: absolute;
    top: 200px;
    left: 20px;
}
.news-box p{
    color: #999999;
    font-size: 14px;
    margin: 80px 20px 20px;
    line-height: 24px;
}
.news-box .time{
    color: #666666;
    font-size: 14px;
    margin: 20px 20px;
}
.news-box:hover{
    background-color: #ffffff;
}
.news-box:hover .pic{
    background-size: 110% 110%;
}
/* 新闻详情 */
.news-detail{
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 40px 40px;
    min-height: 800px;
}
.news-detail h1{
    font-size: 22px;
    font-weight: normal;
    color: #333333;
    letter-spacing: 1px;
}
.news-detail .title{
    color: #666666;
    font-size: 12px;
    margin: 10px 0 50px;
}
.news-detail p{
    line-height: 24px;
    font-size: 14px;
    color: #333333;
    margin: 28px 0;
    letter-spacing: 1px;
}
.news-detail-back{
    position: fixed;
    width: 52px;
    height: 52px;
    bottom: 150px;
    right: -55px;
    background-color: transparent;
    text-align: center;
    line-height: 55px;
    font-size: 14px;
    color: #e4392a;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
    border: 2px solid #e4392a;
    border-radius: 54px;
}
.news-detail-back:hover{
    background-color: #e4392a;
    color: #ffffff;
}
/* 申请加盟 */
.affiliate-banner{
    margin-top: 100px;
    background-image: url('../images/jiameng01.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px;
    position: relative;
}
.affiliate-banner a{
    position: absolute;
    width: 280px;
    height: 60px;
    left: 50%;
    margin-left: -140px;
    bottom: -30px;
    background-color: #e4392a;
    color: #ffffff;
    display: block;
    text-align: center;
    line-height: 60px;
    border-radius: 5px;
    font-size: 24px;
}
.affiliate-box1{
    height: 500px;
    background-color: #f6f6f6;
}
.affiliate-box-title{
    font-size: 36px;
    color: #333333;
    text-align: center;
    font-weight: 400;
    margin-top: 80px;
}
.affiliate-box1 .pull-left{
    max-width: 380px;
    width: 32%;
    display: inline-block;
    text-align: center;
    margin: 70px 0 0;
}
.affiliate-box1 .pull-left .pic{
    width: 148px;
    margin: 0 auto 20px;
    height: 148px;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}
.affiliate-box1 .pull-left .pic:hover{
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
}
.affiliate-box1 .pull-left .pic.pic1{
    background-image: url('../images/jiameng02.jpg');
}
.affiliate-box1 .pull-left .pic.pic2{
    background-image: url('../images/jiameng03.jpg');
}
.affiliate-box1 .pull-left .pic.pic3{
    background-image: url('../images/jiameng04.jpg');
}
.affiliate-box1 .pull-left h2{
    color: #333333;
    font-size: 22px;
    margin: 40px auto 18px;
    font-weight: 400;
}
.affiliate-box1 .pull-left p{
    width: 260px;
    margin: 0 auto;
    color: #666666;
    font-size: 15px;
    line-height: 26px;
}
.affiliate-box2{
    height: 470px;
    background-image: url('../images/jiameng05.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}
.affiliate-box3{
    height: 450px;
    background-color: #f6f6f6;
    text-align: center;
}
.affiliate-box3 .list{
    display: inline-block;
    max-width: 255px;
    width: 20%;
    height: 310px;
    text-align: center;
    margin: 40px 13px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    overflow: hidden;
    border-radius: 3px;
}
.affiliate-box3 .list .pic{
    width: 150px;
    height: 150px;
    margin: 15px auto 30px;
    transition: all 0.24s;
    -webkit-transition: all 0.14s;
    -moz-transition: all 0.24s;
}
.affiliate-box3 .list:hover .pic{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
}
.affiliate-box3 .list .pic.pic1{
    background-image: url('../images/jiameng_1.jpg');
}
.affiliate-box3 .list .pic.pic2{
    background-image: url('../images/jiameng_2.jpg');
}
.affiliate-box3 .list .pic.pic3{
    background-image: url('../images/jiameng_3.jpg');
}
.affiliate-box3 .list .pic.pic4{
    background-image: url('../images/jiameng_4.jpg');
}
.affiliate-box3 .list h1{
    font-weight: 400;
    color: #333333;
    font-size: 22px;
    margin: 15px 0;
}
.affiliate-box3 .list p{
    font-size: 16px;
    color: #666666;
    margin: 20px auto;
    width: 80%;
}
.affiliate-box4{
    height: 680px;
    background-color: #333333;
    overflow: hidden;
}
.affiliate-box4 .title{
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin: 20px 0;
}
.affiliate-box4 .div-table{
    background-color: #ffffff;
    font-size: 16px;
    color: #666666;
    text-align: center;
    margin: 30px 0;
}
.affiliate-box4 .div-table .row{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #f2f2f2;
}
.affiliate-box4 .div-table .row.table-header,
.affiliate-box4 .div-table .row.table-footer{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}
.affiliate-box4 .div-table .row.table-header{
    color: #333333;
}
.affiliate-box4 .div-table .row.table-footer{
    color: #e4392a;
}
.affiliate-box4 .div-table .row .col-16{
    float: left;
    width: 16.66%;
}
.affiliate-box5{
    margin: 0 auto !important;
}
.affiliate-box5 .affiliate-box-title{
    margin-top: 60px;
}
.affiliate-box5 .left{
    width: 880px;
    box-sizing: border-box;
    padding: 0 0 50px;
    margin-top: 80px;
}
.affiliate-box5 .box{
    position: relative;
    width: 90%;
}
.affiliate-box5 .box label{
    font-size: 14px;
    box-sizing: border-box;
    padding: 0 15px 5px;
    color: #333333;
    display: block;
}
.affiliate-box5 .box label span{
    color: #ff3300;
    vertical-align: middle;
    margin-left: 4px;
}
.affiliate-box5 .box label.label-backtime{
    width: 150px;
    display: inline-block;
}
.affiliate-box5 .box label.label-radio{
    display: inline-block;
    width: 150px;
    position: relative;
    top: 3px;
}
.affiliate-box5 .box label.label-radio input{
    width: auto;
}
.affiliate-box5 .box select,
.affiliate-box5 .box textarea,
.affiliate-box5 .box input{
    margin: 5px 0 18px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #f0f0f0;
    background-color: #ffffff;
    font-size: 14px;
    padding: 5px 15px;
    color: #333333;
    outline: none;
    font-family: "Microsoft Yahei";
}
.affiliate-box5 .box input[type=text],
.affiliate-box5 .box input[type=tel],
.affiliate-box5 .box input[type=password]{
    height: 40px;
    line-height: 40px;
}
.affiliate-box5 .box select{
    display: inline-block;
    width: 261px;
    height: 40px;
    line-height: 40px;
}
.affiliate-box5 .box select.no-select{
    color: #999999;
}
.affiliate-box5 .box textarea{
    height: 250px;
    padding: 10px 15px;
    resize: none;
}
.affiliate-box5 .box textarea::-webkit-scrollbar{
    width: 4px;
    background-color: #cccccc;
}
.affiliate-box5 .box textarea::-webkit-scrollbar-thumb{
    width: 4px;
    background-color: #00afff;
    border-radius: 30%;  
}
.affiliate-box5 .right{
    width: 280px;
    position: absolute;
    top: 128px;
    right: 0;
    height: 230px;
}
.affiliate-box5 .btn-submit{
    display: block;
    width: 350px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    background-color: #e4392a;
    border-radius: 5px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    margin: 20px auto 40px;
    font-size: 16px;
}
.affiliate-box5 .btn-submit:hover{
    opacity: 0.8;
}
/* 登录 */
.login-box{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}
.login-box .black-bj{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.85;
    filter: alpha(opacity=85);
    z-index: 0;
}
.login-box .content{
    text-align: center;
    position: absolute;
    width: 300px;
    height: 450px;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -150px;
}
.login-box .content .logo{
    display: inline-block;
    width: 120px;
    height: 121px;
    background-image: url('../images/login_01.png');
    margin: 0 0 30px;
}
.login-box .content .input-box{
    width: 300px;
    height: 40px;
    margin: 15px auto;
    position: relative;
}
.login-box .content .input-box input{
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    border: 0;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    padding: 5px 15px;
    font-size: 14px;
    color: #333333;
    font-family: "Microsoft Yahei";
}
.login-box .content .input-box .icon{
    position: absolute;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    top: 50%;
    margin-top: -8.5px;
    right: 15px;
    background-size: contain;
}
.login-box .content .input-box .icon.icon1{
    background-image: url('../images/login_02.png');
}
.login-box .content .input-box .icon.icon2{
    background-image: url('../images/login_03.png');
}
.login-box .content .input-box .yzm{
    position: absolute;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #666666;
    font-size: 14px;
    top: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.login-box .content .input-box .yzm:hover{
    color: #00afff;
}
.login-box .content .input-box .yzm:before{
    content: '';
    width: 1px;
    height: 40%;
    position: absolute;
    top: 30%;
    left: 1px;
    background-color: #cccccc;
}
.login-box .content .btn-login{
    display: inline-block;
    width: 300px;
    height: 40px;
    line-height: 40px;
    background-color: #e4392a;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    margin: 40px auto 15px;
    border-radius: 5px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
.login-box .content .btn-login:hover{
    opacity: 0.9;
}
.login-box .content .bottom-p label,
.login-box .content .bottom-p span,
.login-box .content .bottom-p input{
    vertical-align: middle;
    outline: none;
}
.login-box .content .bottom-p,
.login-box .content .bottom-p a{
    color: #cccccc;
    font-size: 12px;
}
.login-box .close{
    position: absolute;
    width: 52px;
    height: 53px;
    background-image: url('../images/login_04.png');
    right: 20px;
    top: 20px;
    z-index: 2;
    cursor: pointer;
}
/* 固定右导航 */
.right-fixed{
    position: fixed;
    width: 54px;
    height: 200px;
    bottom: 125px;
    right: 64px;
    z-index: 2;
}
.right-fixed .icon{
    width: 54px;
    height: 54px;
    margin: 10px 0;
    background-repeat: no-repeat;
    background-image: url('../images/pic_05.png');
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    display: block;
    text-decoration: none;
    position: relative;
}
.right-fixed .icon:hover{
    background-image: url('../images/pic_06.png');
}
.right-fixed .icon.icon1{
    background-position: 0 0;
}
.right-fixed .icon.icon2{
    background-position: 0 -54px;
}
.right-fixed .icon.icon3{
    background-position: 0 -108px;
}
.right-fixed .icon .pic{
    display: none;
}
.right-fixed .icon:hover .pic{
    display: block;
}
.right-fixed .icon.icon1 .pic{
    width: 121px;
    height: 116px;
    position: absolute;
    background-image: url('../images/qrcode.png');
    top: 20px;
    right: 65px;
}
.right-fixed .icon.icon2 .pic{
    width: 131px;
    height: 40px;
    position: absolute;
    background-image: url('../images/phone.png');
    top: 20px;
    right: 65px;
}