body{
    font-size: 14px;
    font: 14px "Microsoft Yahei",Arial,Helvetica,sans-serif;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    color: inherit;
    text-decoration: none;
}
#s1,#s2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#s2 .title{
    height: 60px;
    color: #fff;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 10px;
    left: 11%;
    z-index: 5;
    line-height: 50px;
    padding: 0 20px;
}
#s2 .subtitle{
    color: #f0f0f0;
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 4;
    font-size: 36px;
    text-align: center;
}
#s2 .subtitle .logo{
	width: 350px;
	height: 60px;
	margin: 0 auto;
}
#s2 .subtitle p{
	margin: 10px 0;
}
#s2 .subtitle .logo img{
	width: 100%;
}
#s2 .subtitle span{
    padding: 0 5px;
    color: #ffa300;
    letter-spacing: 1px;
    font-weight: 600;
}
#s2 .main{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#s2 .right-box{
    width: 250px;
    height: 90%;
    background: #0e2338;
    border-radius: 3px;
    position: absolute;
    z-index: 4;
    right: 15px;
    top: 25px;
    color: #fff;
    overflow: hidden;
    border-bottom: 4px solid #131927;
}
#s2 .right-box .r-title{
	color: #ffa300;
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #15324e;
    text-indent: 15px;
}
#s2 .right-box .r-list-title{
    font-size: 12px;
    padding: 15px;
    font-weight: bold;
}
#s2 .right-box .r-list{
    box-sizing: border-box;
    padding: 0 15px 15px;
    font-size: 12px;
    height: 88%;
    overflow-x: hidden;
    overflow-y: auto;
}
#s2 .right-box .r-list::-webkit-scrollbar{
    width: 0;
}
#s2 .right-box .r-list>li{
    display: flex;
}
#s2 .right-box .col{
    width: 33%;
    text-align: center;
    float: left;
    font-size: 12px;
    padding: 10px 0;
    border-bottom: 1px solid #15324e;
}
#s2 .right-box .r-list .r-list-txt{
    color: #e19c22;
}

.wrapper-left{
    width: 15%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #21395b;
    box-shadow: 0 2px 8px #222;
    z-index: 2;
    box-sizing: border-box;
    padding-top: 60px;
}
#s2 .wrapper-left{
    padding-top: 0;
    z-index: 5;
}
.wrapper-left .btn-show-hide{
    width: 12px;
    height: 55px;
    background-color: #2e496f;
    position: absolute;
    right: -15px;
    top: 50%;
    margin-top: -22.5px;
    border-radius: 2px;
    cursor: pointer;
}
.wrapper-left .btn-show-hide:before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    top: 50%;
    left: 50%;
    margin-top: -2px;
    margin-left: -2px;
    z-index: 2;
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.wrapper-left.hide{
    left: -15%;
}
.wrapper-left.hide .btn-show-hide:before{
    margin-left: -3.8px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.wrapper-left .nav{
    text-align: center;
}
.wrapper-left .nav li{
    height: 60px;
    line-height: 60px;
    border-top: 1px solid #2B313F;
    color: #50698d;
}
.wrapper-left .nav li .pic{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 8px;
    margin-right: 10px;
}
.wrapper-left .nav li .pic.pic1{
    background-image: url('../images/left-pic11.png');
}
.wrapper-left .nav li.active .pic.pic1,
.wrapper-left .nav li:hover .pic.pic1{
    background-image: url('../images/left-pic12.png');
}
.wrapper-left .nav li .pic.pic2{
    background-image: url('../images/left-pic21.png');
}
.wrapper-left .nav li.active .pic.pic2,
.wrapper-left .nav li:hover .pic.pic2{
    background-image: url('../images/left-pic22.png');
}
.wrapper-left .nav li .pic.pic3{
    background-image: url('../images/left-pic31.png');
}
.wrapper-left .nav li.active .pic.pic3,
.wrapper-left .nav li:hover .pic.pic3{
    background-image: url('../images/left-pic32.png');
}
.wrapper-left .nav li:first-child{
    border-top-color: transparent;
}
.wrapper-left .nav li>a
{
	color: inherit;
    height: 60px;
    line-height: 60px;
    display: block;
    text-align: center;
}
.wrapper-left .nav li.active,
.wrapper-left .nav li:hover{
    color: #ffa300;
}

#s1 .wrapper-right.lw{
    left: 0;
    width: 100%;
}
#s1 .wrapper-right{
    width: 85%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 15%;
    overflow: hidden;
    background-color: #21395b;
}
#s2 {
	background: url(../images/logo.png) #21395b;
}
#s1 .wrapper-title{
    background-color: #2e496f;
    height: 60px;
    position: relative;
    z-index: 4;
}
#s1 .wrapper-title .logo{
    width: 280px;
    height: 45px;
    background-image: url('../images/logo-w.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 7.5px;
    left: 20px;
}
#s1 .wrapper-title .head-img{
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 7.5px;
    right: 35px;
    border-radius: 45px;
}
#s1 .wrapper-title .search-box{
    width: 140px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 110px;
    overflow: hidden;
}
#s1 .wrapper-title .search-box input{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #21395b;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 0 15px;
    outline: none;
    color: #fff;
}
#s1 .wrapper-title .search-box .btn-icon{
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../images/top-search.png');
    top: 4px;
    right: 15px;
    z-index: 5;
    cursor: pointer;
}
#s1 .wrapper-right .r-main{
    box-sizing: border-box;
    padding: 80px 25px 20px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
#s1 .wrapper-right .r-main .mychart-line-1,
#s1 .wrapper-right .r-main .mychart-line-2{
    height: 55%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 25px;
}
#s1 .wrapper-right .r-main .info-detail{
    height: 45%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}
#s1 .wrapper-right .r-main .info-detail .col{
    width: 31.5%;
    height: 100%;
    background-color: #1c3455;
    border-radius: 3px;
    position: relative;
}
#s1 .wrapper-right .r-main .info-detail .col-title{
    height: 50px;
    line-height: 50px;
    color: #fff;
    border-bottom: 1px solid #21395b;
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 16px;
}
#s1 .wrapper-right .r-main .info-detail .col-main{
    position: absolute;
    box-sizing: border-box;
    padding: 55px 15px 5px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#s1 .wrapper-right .r-main .info-detail .col-main .mychart-bar{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding-top: 55px;
}
#s1 .wrapper-right .r-main .info-detail .col-list{
    height: 100%;
    overflow: auto;
}
#s1 .wrapper-right .r-main .info-detail .col-list::-webkit-scrollbar{
    width: 0;
    height: 0;
}
#s1 .wrapper-right .r-main .info-detail .col-list>li{
    border-bottom: 1px solid #21395b;
    position: relative;
    padding-bottom: 5px;
}
#s1 .wrapper-right .r-main .info-detail .col-list .pic{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
}
#s1 .wrapper-right .r-main .info-detail .col-list .txt{
    box-sizing: border-box;
    padding-left: 55px;
}
#s1 .wrapper-right .r-main .info-detail .col-list .t-title{
    font-size: 14px;
    color: #BDC0CF;
    margin: 4px 0;
}
#s1 .wrapper-right .r-main .info-detail .col-list .t-txt{
    font-size: 12px;
    color: #BDC0CF;
    margin: 4px 0;
    line-height: 19px;
}
#s1 .wrapper-right .r-main .info-detail-table{
    height: 45%;
    width: 100%;
    position: relative;
}
#s1 .wrapper-right .r-main .info-detail-table .t-head{
    width: 100%;
    display: flex;
    color: #fff;
    font-size: 15px;
}
#s1 .wrapper-right .r-main .info-detail-table .t-body{
    width: 100%;
    color: #868C9C;
    font-size: 13px;
    overflow: auto;
    height: 90%;
    height: -moz-calc(100% - 42px);
    height: -webkit-calc(100% - 42px);
    height: calc(100% - 42px);
    box-sizing: border-box;
}
#s1 .wrapper-right .r-main .info-detail-table .t-body::-webkit-scrollbar{
    width: 0;
    height: 0;
}
#s1 .wrapper-right .r-main .info-detail-table .t-body>li{
    display: flex;
}
#s1 .wrapper-right .r-main .info-detail-table .col{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #4E5464;
}
